.App {
  height: 100%;

  .button,
  .menu {
    font-family: 'Muli', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Copse', serif;
  }

  .pointer {
    cursor: pointer;
  }

  p.error {
    color: red;
  }
}