.page .segment .form {
    width: 312.5px;
    margin: 0 auto;

    .field {
        max-width: none;
    }

    .button {
        width: 100%;
        max-width: none;
        margin-top: 1.5em;
    }
}
