.sign-in-dropdown {
    cursor: auto;
    position: absolute;
    top: 100%;
    width: 275px;
    min-width: max-content;
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.5rem;
    z-index: 1;
}
