.header {
    padding: 25px 175px;
    background-color: lavender;
    border-bottom: 10px solid lavenderblush;

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .ui.menu.secondary .item {
        font-weight: 700;
    }

    .label.floating {
        left: 55%;
    }
}

.home-header {
    width: 100%;
    position: absolute;
    z-index: 5;
    background-color: transparent;
    border-bottom: none;

    h1 a {
        color: black;
    }

    .ui.menu.secondary .item {
        color: white;
        font-weight: 600;
    }
}
