.header {
    padding: 25px 175px 100px 175px;

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .label.floating {
        left: 55%;
    }
}

.home-header {
    width: 100%;
    position: absolute;
    z-index: 5;

    h1 a {
        color: black;
    }

    .ui.menu.secondary .item {
        color: white;
    }
}
